# Importar datos de manera masiva
## Crear consolidación automatica de archivos a través de python con Pandas

* Importar las Librerias

In [124]:
import pandas as pd
import os

* Luego cargar un dataset de prueba en excel

In [57]:
dataset1 = pd.read_excel("Dataset1.xlsx")
dataset1.head()

   cedula nombre  valor1  valor2  valor3  valor4  valor5
0       1     ad       1       2       3       4       6
1       2     bf       5       6       7       8      10
2       3     gf       9      10      11      12      14
3       4     tg      13      14      15      16      18
4       5     rj      17      18      19      20      22

* Revisar el tipo de datos de las columnas

In [58]:
dataset1.dtypes

cedula     int64
nombre    object
valor1     int64
valor2     int64
valor3     int64
valor4     int64
valor5     int64
dtype: object

* Realizar una lectura de los archivos que hay en la ruta que terminen solo en xlsx, se puede cambiar la extensión del archivo en el script

In [125]:
directorio = 'C:/Users/jagir/OneDrive/Proyectos/Cargue_datos' ##se debe cambiar de la ruta el "\" por "/"

contenido = os.listdir(directorio)

archivos = []
for fichero in contenido:
    if os.path.isfile(os.path.join(directorio, fichero)) and fichero.endswith('.xlsx'):
        archivos.append(fichero)
print(archivos)

['Dataset1.xlsx', 'Dataset2.xlsx', 'Dataset3.xlsx']

* Se crea un bucle donde aplica la lectura a cada uno de los archivos de la ruta

In [106]:
list_data = []

for archivo in archivos:
    data = pd.read_excel(archivo)
    list_data.append(data)
    print(archivo)

Dataset1.xlsx
Dataset2.xlsx
Dataset3.xlsx

* Convertir la data en un dataframe

In [126]:
consolidado = pd.DataFrame(pd.concat(list_data,ignore_index=True))
consolidado.head()

   cedula nombre  valor1  valor2  valor3  valor4  valor5
0       1     ad       1       2       3       4       6
1       2     bf       5       6       7       8      10
2       3     gf       9      10      11      12      14
3       4     tg      13      14      15      16      18
4       5     rj      17      18      19      20      22

In [119]:
consolidado.columns ###Nombres de las columnas

Index(['cedula', 'nombre', 'valor1', 'valor2', 'valor3', 'valor4', 'valor5'], dtype='object')

In [121]:
consolidado.shape ### Cantidad de registros , cantidad de columnas del dataframe

(57, 7)


# Conectar la data a servidor SQLSERVER

*Instalar la libreria import pyodbc si no esta instalada 
    *pip install pyodbc a traves de anaconda prompt

In [127]:
import pyodbc

In [ ]:
# Connecting to Database
conn=pyodbc.connect('DRIVER={SQL Server};SERVER=test_server;DATABASE='+test_DB;UID=test_user;PWD=test_password')

# creating a cursor
cursor = conn.cursor()

# executing query
cursor.execute("SELECT * FROM Transaction limit 5")

# Fetching all the data
result = cursor.fetchall()

# closing the database connection
conn.close()